<!DOCTYPE html>
<html>
  <head>
    <title>Hari</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>

    <link href="https://fonts.googleapis.com/css?family=Poppins:100,200,300,400,500,600,700,800,900" rel="stylesheet">

    <link rel="stylesheet" href="template/css/open-iconic-bootstrap.min.css">
    <link rel="stylesheet" href="template/css/animate.css">
    <link rel="stylesheet" href="template/css/owl.carousel.min.css">
    <link rel="stylesheet" href="template/css/owl.theme.default.min.css">
    <link rel="stylesheet" href="template/css/magnific-popup.css">
    <link rel="stylesheet" href="template/css/aos.css">
    <link rel="stylesheet" href="template/css/ionicons.min.css">
    <link rel="stylesheet" href="template/css/flaticon.css">
    <link rel="stylesheet" href="template/css/icomoon.css">
    <link rel="stylesheet" href="template/css/style.css">
  </head>

  <body data-spy="scroll" data-target=".site-navbar-target" data-offset="300">
    <%= yield %>
  </body>

  <footer>
    <script src="template/js/jquery.min.js"></script>
    <script src="template/js/jquery-migrate-3.0.1.min.js"></script>
    <script src="template/js/popper.min.js"></script>
    <script src="template/js/bootstrap.min.js"></script>
    <script src="template/js/jquery.easing.1.3.js"></script>
    <script src="template/js/jquery.waypoints.min.js"></script>
    <script src="template/js/jquery.stellar.min.js"></script>
    <script src="template/js/owl.carousel.min.js"></script>
    <script src="template/js/jquery.magnific-popup.min.js"></script>
    <script src="template/js/aos.js"></script>
    <script src="template/js/jquery.animateNumber.min.js"></script>
    <script src="template/js/scrollax.min.js"></script>
    <script src="template/js/main.js"></script>
  </footer>
</html>
